.navbar {
    background-color: #00AEFF;
}


.top-heading {
    margin-top: 2rem;
}

.resume {
    margin-top: 2rem;
}

h4 {
    color: #00AEFF;
}

section {
    padding-top: 2rem;
}